on:
  workflow_dispatch:
  schedule:
    # run every 8 hours
    - cron: "20 */8 * * *"
name: Update
jobs:
  update:
    runs-on: windows-latest
    permissions:
      contents: write # required to update
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true # required to update
      - uses: ScoopInstaller/GithubActions@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: 1
